<%- include('partials/_header'); %>

<section class="header">
    <div id="searchitemPanel">
        <h1>Clientes asociados a la concesionaria</h1>
        <table id="articleTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CORREO ELECTRÓNICO</th>
                    <th>ASUNTO</th>                                
                    <th>COMENTARIO</th>                                                                          
                </tr>
            </thead>
            <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].ID_FORMULARIO %></td>
                        <td><%= data[i].CORREO_ELECTRONICO %></td>
                        <td><%= data[i].ASUNTO %></td>
                        <td><%= data[i].COMENTARIO %></td>
                    </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</section>

<%- include('partials/_footer'); %>