<%- include('partials/_header'); %>

<section class="header">
    <div id="searchitemPanel">
        <h1>Clientes asociados a la concesionaria</h1>
        <table id="articleTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CÉDULA / NIT</th>
                    <th>NOMBRES</th>                                
                    <th>CORREO ELECTRÓNICO</th>
                    <th>CONTACTO</th>                                
                    <th>DIRECCCIÓN</th>                                           
                </tr>
            </thead>
            <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].ID_CLIENTE %></td>
                        <td><%= data[i].CEDULA_NIT %></td>
                        <td><%= data[i].NOMBRES %></td>
                        <td><%= data[i].CORREO_ELECTRONICO %></td>
                        <td><%= data[i].CONTACTO %></td>
                        <td><%= data[i].DIRECCION %></td>
                    </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</section>

<%- include('partials/_footer'); %>