<%- include('partials/_header'); %>

<section class="header">
    <div id="searchitemPanel">
        <h1>Inventario de vehículos</h1>
        <table id="articleTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>MARCA</th>
                    <th>MODELO</th>                                
                    <th>AÑO</th>
                    <th>DESCRIPCIÓN</th>
                    <th>TIPO</th>                                
                    <th>IMAGEN</th>
                    <th>UNIDADES EN STOCK</th>
                    <th>VALOR UNITARIO</th>                                                  
                </tr>
            </thead>
            <tbody>
                <% if (data) { %>
                    <% for (var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td><%= data[i].ID_VEHICULOS %></td>
                        <td><%= data[i].MARCA %></td>
                        <td><%= data[i].MODELO %></td>
                        <td><%= data[i].AÑO %></td>
                        <td><%= data[i].DESCRIPCION %></td>
                        <td><%= data[i].TIPO %></td>
                        <td><%= data[i].IMAGEN_URL %></td>
                        <td><%= data[i].UNIDADES_STOCK %></td>
                        <td><%= data[i].VALOR_UNITARIO %></td>
                    </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</section>

<%- include('partials/_footer'); %>